---
title: Linje Tio
show_nav: TRUE
---

<h2>En kontinental&shy;europeisk restaurang och bar</h2>
<p>Linje 10 var den spårvagnslinje som knöt ihop norr med söder och trafikerade sträckan Värtahamnen–Hornstull från 1922 till 1967. Hornstull var på den tiden en stor knutpunkt med torget Hornsplan som myllrande centrum för folklivet. Hornsplan är sedan gammalt borta men är på väg tillbaka, i ny skepnad.</p>
<p>Linje Tio vill erbjuda området både det rustikt lantliga och det urbant sofistikerade, där bar och matsal tar sin inspiration från södra Europa. Baren, matsalen och våra två separéer Balkongen och Purple Room, är öppna från frukost fram till småtimmarna, 7 dagar i veckan.</p>
<p>Välkommen!</p>

<h2>Separéer</h2>
<p>På Linje Tio har vi två separéer. Mezzonine och Purple Room.</p>

<h3>Mezzonine</h3>
<p>En trappa upp finns ett rum med utsikt över Linje 10. Här kan ni som söker avskildheten i pulsen finna något. På Mezzonine serveras dagens alla måltider, vi arrangerar också konferenser, möten, utställningar och showroom. Här kan 6-12 personer samlas och inta en intim måltid.</p>
<p>För mer information kontakta oss via mail: <a href="mailto:bokningar@linjetio.com">bokningar@linjetio.com</a></p>

<h3>Purple Room</h3>
<p>Torsdag till lördag öppnar Purple Room upp ståldörren till sin bar. Här serverar Sveriges mest prisbelönta bartenders cocktails av världsklass. Här blandar vi klassiker och skapar drinkar från “the past and the future”. I Purple Room kan ert sällskap upp till 25 personer ha cocktailparty med drinkar och mat från Linje 10. Purple Room finns tillgänglig för abonnering.</p>
<p>För mer information kontakta oss via mail: <a href="mailto:bokningar@linjetio.com">bokningar@linjetio.com</a></p>

<h2>Kontakt</h2>
<h3>Drift</h3>
<p>Joel Söderbäck<br> 0739-60 1196<br> <a href="mailto:soderback@linjetio.com">soderback@linjetio.com</a></p>

<h3>Kök</h3>
<p>Daniel Gustavsson<br> 0703-18 1506<br> <a href="mailto:gustavsson@linjetio.com">gustavsson@linjetio.com</a></p>

<h3>Bar</h3>
<p>Andreas Bergman<br> 0707-46 7016<br> <a href="bergman@linjetio.com">bergman@linjetio.com</a></p>

<h3>Event</h3>
<p>Carlan Snygg<br> 0708-60 7923<br> <a href="mailto:snygg@linjetio.com">snygg@linjetio.com</a></p>

<h3>Projektet</h3>
<p>Mathias Krigh<br> 0769-49 5656<br> <a href="mailto:krigh@tjoget.com">krigh@tjoget.com</a></p>