---
title: Meny / Linje Tio
---

<h1>Meny</h1>

<div class="lunch menu">
  <h2>Lunch 11-14</h2>
  <div class="dish">
    <h3>Paté de Champagne</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
  </div>
  <hr>
  <div class="dish">
    <h3>Paella Valenciana</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">(80)/125:-</p>
  </div>
  <div class="dish">
    <h3>Flank “steak minuté”</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">(80)/125:-</p>
  </div>
  <hr>
  <div class="dish">
    <h3>Creama Catalana</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
  </div>
  <hr>
  <p class="price">Varmrätt - 105:-<br>
  2 Rätter - 150:-<br>
  3 rätter - 195:-
  </p>
</div>
<div class="always menu">
  <h2>Alltid</h2>
  <div class="dish">
    <h3>Soupe L’Oignon</h3>
    <p>Onion soup, Toast, Gruyère Löksoppa, toast, Gruyère.</p>
    <p class="price">(80)/125:-</p>
  </div>
  <div class="dish">
    <h3>Pa amb Tomàquet</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">(80)/125:-</p>
  </div>
</div>
<div class="continental menu">
  <h2>Continental hour 12-18</h2>
  <div class="dish">
    <h3>Soupe L’Oignon</h3>
    <p>Onion soup, Toast, Gruyère Löksoppa, toast, Gruyère.</p>
    <p class="price">(80)/125:-</p>
  </div>
  <div class="dish">
    <h3>Pa amb Tomàquet</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">(80)/125:-</p>
  </div>
</div>
<div class="dinner menu">
  <h2>Bien sur huitres...</h2>
  <div class="dish">
    <h3>Belon</h3>
    <p>Discription of oyster Discription of oyster.</p>
    <p class="price">20:- / st</p>
  </div>
  <div class="dish">
    <h3>Marennes</h3>
    <p>Discription of oyster Discription of oyster.</p>
    <p class="price">12:- / st</p>
  </div>
  <div class="dish">
    <h3>Bretange</h3>
    <p>Discription of oyster Discription of oyster.</p>
    <p class="price">17:- / st</p>
  </div>
</div>
<div class="dinner menu">
  <h2>Dinner 17-23</h2>
  <h2>Classiques</h2>
  <div class="dish">
    <h3>Moules Frites/Mariniere</h3>
    <p>Onion soup, Toast, Gruyère Löksoppa, toast, Gruyère.</p>
    <p class="price">125/145:-</p>
  </div>
  <div class="dish">
    <h3>Tortilla ala Espanol</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">85:-</p>
  </div>
  <div class="dish">
    <h3>Aloyau Steak Frites</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">225:-</p>
  </div>
  <div class="dish">
    <h3>Plate du Jour</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">225:-</p>
  </div>
  <div class="dish">
    <h3>Crema Catalana</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">75:-</p>
  </div>
  <h2>Aperitivo</h2>
  <div class="dish">
    <h3>Aloyau Steak Frites</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">225:-</p>
  </div>
  <div class="dish">
    <h3>Plate du Jour</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">225:-</p>
  </div>
  <div class="dish">
    <h3>Crema Catalana</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">75:-</p>
  </div>
  <h2>Secondi</h2>
  <div class="dish">
    <h3>Lotte Grenoble</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">260:- / 1000:-</p>
  </div>
  <div class="dish">
    <h3>Poulet Fermier au Roti</h3>
    <p>Pate, syrligt portvin, cornichons, levinbröd.</p>
    <p class="price">225:- / 980:-</p>
  </div>
  <div class="dish">
    <h3>COTE de BOEUF salamanca</h3>
    <p>Tomater provencale, romansallad, rödvinssky.</p>
    <p class="price">85:- / 1100:-</p>
  </div>
  <div class="dish">
    <h3>Blanquette de Veau</h3>
    <p>Kalv, rostadvitlök, dijonsenap, grönsaker.</p>
    <p class="price">185:- / 800:-</p>
  </div>
</div>
<div class="dinner menu">
  <h2>Dessert</h2>
  <div class="dish">
    <h3>Crepes du Jour</h3>
    <p>Discription of oyster Discription of oyster.</p>
    <p class="price">85:- / 400:-</p>
  </div>
  <div class="dish">
    <h3>Créme Brulée</h3>
    <p>Discription of oyster Discription of oyster.</p>
    <p class="price">85:- / 400:-</p>
  </div>
  <div class="dish">
    <h3>Bisou Bisou</h3>
    <p>Discription of oyster Discription of oyster.</p>
    <p class="price">65:- / 350:-</p>
  </div>
</div>